 .container {
<!--  margin-top: 50px;-->
  width: 50%;
  max-width: 600px;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

<!--.form-container {-->
<!--  width: 50%;-->
<!--  max-width: 600px;-->
<!--}-->

.form-group label {
  font-weight: bold;
}

.btn {
  margin-top: 20px;
  width: 100%;
}

@media (min-width: 576px) {
  .col-md-6 {
    max-width: 400px;
  }
}