 .container {
  width: 50%;
  max-width: 600px;
  text-align: center
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-group label {
  font-weight: bold;
}

.btn {
  margin-top: 20px;
  width: 100%;
}

@media (min-width: 576px) {
  .col-md-6 {
    max-width: 400px;
  }
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.result-field {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.col-md-6 {
  text-align: left;
}